<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="lib/codemirror.js"></script>
  <link rel="text/css" href="lib/codemirror.css">
  <script src="mode/javascript/javascript.js"></script>

  <title>code snippets</title>

  <style>
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L5,
    li.L6,
    li.L7,
    li.L8 {
      list-style-type: decimal !important;
    }
  </style>
</head>

<body>

  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <span class="navbar-brand">Code Snippets</span>
    <span class="navbar-text" id="userWelcomeText"></span>

    <form class="form-inline" id="followForm">
      <label class="sr-only" for="followEmail">An Email To Follow</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Email</div>
        </div>
        <input type="email" class="form-control" id="followEmail" placeholder="Follow Another User" required>
      </div>
      <button type="submit" class="btn btn-outline-info mb-2">Follow</button>
    </form>

    <ul class="nav">
      <li class="nav-item" id="signupButton" style="display:none;">
        <button class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign Up</button>
      </li>
      <li class="nav-item" id="loginButton" style="display:none;">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#loginModal">Login</button>
      </li>
      <li class="nav-item" id="logoutButton" style="display:none;">
        <button class="btn btn-outline-dark">Logout</button>
      </li>
    </ul>
  </nav>

  <!-- CODE ENTRY FIELD -->
  <div class="container">
    <div class="row">
      <form id="codeEntryForm" style="display: none; width: 100vw;">
        <div class="form-group">
          <label for="codeEntry">You've got 250 characters, let's see some code!</label>
          <textarea id="codeEntry" class="form-control" rows="7" form="codeEntryForm" maxlength="250" required></textarea>
          <button class="form-control btn btn-dark" type="submit" name="codeEntrySubmit">Submit Snippet</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container" id="snippetFeed">
    <!-- created in buildFeed in main.js -->
  </div>

  <!-- Signup Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="Sign Up Form" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Sign Up For Code Snippets!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="signupForm">
            <fieldset class="form-group">
              <label for="signupEmail">enter a name/username</label>
              <input type="text" class="form-control" id="signupName" placeholder="name" required>
            </fieldset>
            <fieldset class="form-group">
              <label for="signupEmail">enter your email address</label>
              <input type="email" class="form-control" id="signupEmail" placeholder="email" required>
            </fieldset>
            <fieldset class="form-group">
              <label for="signupPassword">enter a password</label>
              <input id="signupPassword" type="password" class="form-control" name="password" onchange="if(this.checkValidity()) form.signupPasswordCheck.pattern = this.value;" placeholder="password" required />
              <input id="signupPasswordCheck" type="password" class="form-control" name="confirmPassword" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same password as above' : '');"
                placeholder="confirm password" required />
            </fieldset>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Login To Code Snippets!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="loginForm">
            <fieldset class="form-group">
              <label for="loginEmail">enter your email address</label>
              <input type="email" class="form-control" id="loginEmail" placeholder="email" required>
            </fieldset>
            <fieldset class="form-group">
              <label for="loginPassword">enter your password</label>
              <input id="loginPassword" type="password" class="form-control" placeholder="password" required />
            </fieldset>
            <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAvYQ5y6O5TsXcMUJ8WgV7WDvRC3TyKiTk",
      authDomain: "code-snippets-255de.firebaseapp.com",
      databaseURL: "https://code-snippets-255de.firebaseio.com",
      projectId: "code-snippets-255de",
      storageBucket: "code-snippets-255de.appspot.com",
      messagingSenderId: "131891731517",
      appId: "1:131891731517:web:2c7d53355056c149"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
    const db = firebase.firestore();
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>

  <!-- scripts that use other scripts go below -->
  <script type="text/javascript" src="main.js" charset="utf-8"></script>
  <script type="text/javascript" src="auth.js" charset="utf-8"></script>
  <script type="text/javascript" src="codeEntry.js" charset="utf-8"></script>
  <script type="text/javascript" src="follow.js" charset="utf-8"></script>

</body>

</html>
